.vscode/**
.idea/**
env/**


**/__pycache__/**
dist/**
build/**
tests/learner/saved/**
recommender.egg-info/**

**/*.ini
.idea/
.vscode/
build/
dist/
env/
tmp/
recommender.egg-info/
recommender/__pycache__/
recommender/learner/__pycache__/
recommender/learner/tools/__pycache__/
tests/learner/saved/
